.form-floating {
  label {
    top: 7px;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    transform: translateY(-0.50rem) scale(0.7);
  }
  > .form-control {
    height: calc(2.5rem + 2px) !important;
  }
}
