/*--------------------------------------------------------------
  # Override some default Bootstrap stylings
  --------------------------------------------------------------*/
.ticked {
  background-color: green;
}
// Dropdown menus
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);

  .dropdown-header,
  .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
  }

  .dropdown-footer a {
    color: #444444;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
  }

  .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;

    i {
      margin-right: 10px;
      font-size: 18px;
      line-height: 0;
    }

    &:hover {
      background-color: #f6f9ff;
    }
  }

  @media (min-width: 768px) {
    &-arrow::before {
      content: "";
      width: 13px;
      height: 13px;
      background: #fff;
      position: absolute;
      top: -7px;
      right: 20px;
      transform: rotate(45deg);
      border-top: 1px solid #eaedf1;
      border-left: 1px solid #eaedf1;
    }
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

// Card
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);

  &-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;

    span {
      color: #899bbd;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &-body {
    padding: 0 20px 20px 20px;
  }
}

/*--------------------------------------------------------------
  # Dashboard
  --------------------------------------------------------------*/
// Filter dropdown
.dashboard {
  &-info-card {
    padding-bottom: 10px;

    h6 {
      font-size: 28px;
      color: #012970;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }

    &-icon {
      font-size: 32px;
      line-height: 0;
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    &.sales-card {
      &-icon {
        color: #4154f1;
        background: #f6f6fe;
      }
    }

    &.revenue-card {
      &-icon {
        color: #2eca6a;
        background: #e0f8e9;
      }
    }

    &.customers-card {
      &-icon {
        color: #ff771d;
        background: #ffecdf;
      }
    }
  }

  &-recent-sales {
    font-size: 14px;

    .table thead {
      background: #f6f6fe;
    }

    .table thead th {
      border: 0;
    }

    .dataTable-top {
      padding: 0 0 10px 0;
    }

    .dataTable-bottom {
      padding: 10px 0 0 0;
    }
  }
}

.tag-item {
  margin-top: 10px;
  box-shadow: 3px 2px 5px #012970;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;

  i {
    line-height: auto;
    margin-left: 10px;
    font-size: 15px;
  }
}
.modal-body {
  .card {
    width: 150px;
    .card-body img {
      width: 150px;
    }
  }
}
