<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Short URL <span>| Today</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-graph-up"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                  <span class="text-success small pt-1 fw-bold">Total</span>
                  <span class="text-muted small pt-2 ps-1">Links</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">QRCode <span>| Today</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-qr-code"></i>
                </div>
                <div class="ps-3">
                  <h6>3,264</h6>
                  <span class="text-success small pt-1 fw-bold">Total</span>
                  <span class="text-muted small pt-2 ps-1">QrCodes</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <form
                action="#"
                class="form-group pt-4"
                #loginForm="ngForm"
                id="loginForm"
              >
                <div class="row">
                  <div class="form-floating col-md-12 mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="user"
                      name="user"
                      placeholder=" "
                      required
                    />
                    <label for="user"
                      ><i class="bi bi-link-45deg"></i> Enter Long URL</label
                    >
                  </div>
                  <div class="form-floating col-md-6 mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="user"
                      name="user"
                      placeholder=" "
                      required
                    />
                    <label for="user"
                      ><i class="bi bi-pencil"></i> Url Title</label
                    >
                  </div>
                  <!-- Password -->
                  <div class="form-floating col-md-6 mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder=" "
                      [(ngModel)]="inputText"
                      (ngModelChange)="convertToLower($event)"
                      required
                    />
                    <label for="fieldName"
                      ><i class="bi bi-pen"></i> Custom Link</label
                    >
                    <small class="font-italic"
                      ><em>srs.com/</em><strong>{{ inputText }}</strong></small
                    >
                  </div>
                  <div class="form-floating col-md-12 mb-4">
                    <input
                      class="form-check-input mx-2"
                      type="checkbox"
                      id="gridCheck1"
                    />
                    <span><i class="bi bi-qr-code"></i> Generate QRCode</span>
                  </div>
                  <div class="form-floating col-md-12 mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="text"
                      name="tags"
                      placeholder=" "
                      [(ngModel)]="newTag"
                      (keydown.enter)="addTag()"
                      (blur)="addTag()"
                    />
                    <label for="fieldName"
                      ><i class="bi bi-tags"></i> Tags</label
                    >
                    <ul class="list-inline">
                      <li
                        *ngFor="let tag of tags; let i = index"
                        class="list-inline-item tag-item"
                      >
                        <strong>{{ tag }}</strong>
                        <span (click)="removeTag(i)"
                          ><i class="bi bi-x"></i
                        ></span>
                      </li>
                    </ul>
                  </div>
                  <div class="form-floating col-md-12 mb-4">
                    <textarea
                      name="description"
                      id=""
                      class="form-control"
                    ></textarea>
                    <label for="descritioon"
                      ><i class="bi bi-pen-fill"></i> Description</label
                    >
                  </div>
                  <!-- Submit Button -->
                  <div class="col-lg-12 mb-3">
                    <button
                      type="submit"
                      class="btn btn-block btn-outline-primary py-2 w-100"
                    >
                      Shorten
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End Customers Card -->
      </div>
    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">
      <!-- Recent Activity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Latest QrCode</h5>

          <div class="card bg-transparent">
            <img
              src="../../../assets/qr-code.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-transparent">
              <h5 class="card-title">Details</h5>
              <p class="card-text">
                <strong>Short URL:</strong>
              </p>
              <p class="card-text"><a href="#">srs.com/hdt4gdc</a></p>
              <p class="card-text">
                <strong>Title:</strong>
              </p>
              <p class="card-text">Testing the Shortner</p>
              <p class="card-text">
                <strong>Description:</strong>
              </p>
              <p class="card-text">Lorem ipsum dolor sit amet.</p>
              <p class="card-text">
                <strong>Tags:</strong>
              </p>
              <p class="card-text">URL,Shortner,Scissors</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Recent Activity -->
    </div>
    <!-- End Right side columns -->

    <!-- Recent Sales -->
    <div class="col-lg-12">
      <div class="card recent-sales overflow-auto">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"
            ><i class="bi bi-three-dots"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Tags</a></li>
            <li><a class="dropdown-item" href="#">Title</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Short Links</h5>

          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Title</th>
                <th scope="col">Short URL</th>
                <th scope="col">Tags</th>
              </tr>
            </thead>
            <tbody *ngFor="let i of numbers">
              <tr>
                <th scope="row">
                  {{ i }}
                </th>
                <td>John Doe</td>
                <td>
                  <a [routerLink]="i.toString()" class="text-primary"
                    >scs.com/{{ i }}</a
                  >
                </td>
                <td><span>Approved</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End Recent Sales -->
  </div>
</section>
<!-- End Dashboard Section -->
