.typing-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(12, 0, 49, 0.3); /* Adjust the opacity as needed */
  backdrop-filter: blur(2.5px);
  width: 100%;
}

.text-container {
  position: relative;
}

#typed-text {
  font-size: 24px;
  color: rgb(31, 2, 144);
}

.cursor-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 85px;
  animation: slide-animation 2.3s linear forwards;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
