<app-header></app-header>
<div class="container" style="position: relative; margin-top: 4rem">
  <div class="row py-2 align-items-center">
    <div class="col-md-7 pr-lg-7 mb-7 mb-md-0">
      <img
        src="../../../assets/login.png"
        alt="Login svg"
        class="img-fluid mb-3 d-none d-md-block"
      />
      <h2>Welcome back,</h2>
      <em>
        We're glad to have you back. Start shortening your long URLs and
        managing your links with ease.
      </em>
    </div>

    <!-- Registeration Form -->
    <div class="col-md-5 col-lg-5 ml-auto">
      <h4 class="text-center p-3">Login to continue</h4>
      <form
        action="#"
        class="form-group"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()"
        id="loginForm"
      >
        <div class="row">
          <div class="form-floating col-lg-12 mb-4">
            <input
              type="text"
              class="form-control"
              id="user"
              name="user"
              placeholder=" "
              required
              [(ngModel)]="user['user']"
            />
            <label for="user">Username or Email</label>
          </div>
          <!-- Password -->
          <div class="form-floating col-lg-12 mb-4">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder=" "
              required
              [(ngModel)]="user['password']"
            />
            <label for="fieldName">Password</label>
          </div>
          <!-- Submit Button -->
          <div class="col-lg-12 mb-3">
            <button
              type="submit"
              class="btn btn-block btn-outline-primary py-2 w-100"
              [disabled]="loginForm.invalid || isSubmitting"
            >
              <span *ngIf="!isSubmitting">Create Account</span>
              <span *ngIf="isSubmitting">
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                ></span>
                Processing...
              </span>
            </button>
          </div>
          <div class="other d-flex justify-content-between">
            <div>
              <input
                class=""
                id="remember"
                type="checkbox"
                name="remember-me"
              />
              <label class="px-2" for="ckb1"> Remember me </label>
            </div>
            <div>
              <a routerLink="#" class="txt1"> Forgot Password? </a>
            </div>
          </div>
        </div>
      </form>
      <!-- Divider Text -->
      <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-3">
        <div class="border-bottom w-100 ml-5"></div>
        <span class="px-2 small text-muted font-weight-bold text-muted"
          >OR</span
        >
        <div class="border-bottom w-100 mr-5"></div>
      </div>
      <!-- Social Login -->
      <div class="col-lg-12 d-flex justify-content-center mb-3">
        <a
          routerLink="http://localhost:7789/auth/google"
          class="btn btn-danger btn-block py-2"
        >
          <i class="bi bi-google px-2"></i>
          <span class="font-weight-bold text-light px-2"
            >Sign In with Google</span
          >
        </a>
      </div>
    </div>
  </div>
</div>
