<ul>
  <li>
    <a routerLink="#" class="link-active" title="dashboard">
      <span class="icon"><i class="bi bi-bar-chart"></i></span>
      <span class="link-text">Dashboard</span>
    </a>
  </li>
  <li>
    <a routerLink="#" title="short_link">
      <span class="icon"><i class="bi bi-link"></i></span>
      <span class="link-text">Short Links</span>
    </a>
  </li>
  <li>
    <a routerLink="#" title="message">
      <span class="icon"><i class="bi bi-chat"></i></span>
      <span class="link-text">Message</span>
    </a>
  </li>
  <li>
    <a routerLink="#" title="qr_code">
      <span class="icon"><i class="bi bi-qr-code"></i></span>
      <span class="link-text">QR Code</span>
    </a>
  </li>
  <li>
    <a routerLink="#" title="custom-url">
      <span class="icon"><i class="bi bi-link-45deg"></i></span>
      <span class="link-text">Custom URL</span>
    </a>
  </li>
  <div class="fixed-bottom border-top">
    <li>
      <a routerLink="#" title="Setting">
        <span class="icon"><i class="bi bi-gear"></i></span>
        <span class="link-text">Setting</span>
      </a>
    </li>
    <li>
      <a routerLink="#" title="Sign Out">
        <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
        <span class="link-text">Sign Out</span>
      </a>
    </li>
  </div>
</ul>
