<app-header>
  <i class="bi bi-list toggle-sidebar-btn" *ngIf="false" (click)="toggleWidth()"></i>
</app-header>
<!-- ======= Sidebar ======= -->
<aside
  id="sidebar"
  class="sidebar"
  [ngClass]="{ width_toggle: isWidthToggled }"
>
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="pages-faq.html">
        <i class="bi bi-bar-chart-line"></i>
        <span>Analytics</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="pages-contact.html">
        <i class="bi bi-qr-code"></i>
        <span>QRCode</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->
    <hr />
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="pages-register.html">
        <i class="bi bi-headset"></i>
        <span>Support</span>
      </a>
    </li>
    <!--Customer Support Page -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="pages-login.html">
        <i class="bi bi-box-arrow-in-left"></i>
        <span>Logout</span>
      </a>
    </li>
    <!-- End Logout Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{ pageTitle }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="pageTitle">{{ pageTitle }}</a>
        </li>
        <li class="breadcrumb-item active">{{ pageSubTitle }}</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <router-outlet></router-outlet>
  <!-- End #main -->
</main>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Scissors</span></strong
    >. All Rights Reserved
  </div>
</footer>
<!-- End Footer -->
